<div class="pagination-area pb-45 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="single-wrap d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                          {% if page_obj.has_previous %}
                            {% if page_obj.previous_page_number == 1 %}
                                <li class="page-item"><a class="page-link" href="{{ request.path }}"><span class="flaticon-arrow roted"> < </span></a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><span class="flaticon-arrow roted"> < </span></a></li>
                            {% endif %}
                          {% endif %}
                          {% for p in paginator.page_range %}
                            {% if p == 1 %}
                                <li class="page-item"><a class="page-link" href="{{ request.path }}">{{ p }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                            {% endif %}
                          {% endfor %}
                          {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"> > </a></li>
                          {% endif %}
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </div>
</div>